
@import url(http://fonts.googleapis.com/css?family=Poppins);
@import url(http://fonts.googleapis.com/css?family=Raleway);


#intro {
  background: url(../images/brakeshibench.jpg);
  background-size: cover;
  height: 60vh;
  text-align: left;
  padding: 3em;
  font-size: 2em;
}

#about img
 {
	height: auto;
    max-width: 30%;
    position: relative;
    float: left;
    padding: 20px;
}


body {
	font-family: 'Raleway', sans-serif;
}

section {
	display: block;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-style: bold;
	text-align: left;
	color: blue;

}

h2 {
	font-family: 'Raleway', sans-serif;
}

ul.horizontal li {
	display:block;
	float:left;
	padding: 10px;
}
