
@import url(http://fonts.googleapis.com/css?family=Poppins);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	font-family: 'Raleway', sans-serif;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding 20px;
}

section {
	display: block;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;

}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-style: bold;
	text-align: left;
	color: blue;

}

h2 {
	font-family: 'Raleway', sans-serif;
}

ul.horizontal li {
	display:block;
	float:left;
	padding: 10px;
}

#intro {
  background: url(../images/brakeshibench.jpg);
  background-size: cover;
  height: 60vh;
  text-align: left;
  padding: 3em;
  font-size: 2em;
}

#about img
 {
	height: auto;
    max-width: 30%;
    position: relative;
    float: left;
    padding: 20px;
}



